@tailwind base;
@tailwind components;
@tailwind utilities;

input {
	--tw-ring-shadow: 0 0 #000 !important;
	@apply ring-0 ring-offset-0;
}

h1 {
	@apply text-6xl;
}

h2 {
	@apply text-4xl;
}

h3 {
	@apply text-2xl;
}

h4 {
	@apply text-xl;
}

h5 {
	@apply text-lg;
}

h6 {
}

.input {
	@apply w-full rounded border border-zinc-700 px-3 py-1.5 text-sm ring-0 ring-transparent duration-200 focus:outline-none focus:ring-0 active:scale-[102%] dark:bg-zinc-800 dark:text-white dark:focus:border-blue-400;
}

.label {
	@apply mb-0.5 block text-xs dark:text-zinc-300;
}

.btn-sm {
	@apply flex items-center gap-2 rounded-lg px-2 py-1.5 text-xs font-medium transition-all duration-150 active:scale-[95%] disabled:cursor-not-allowed disabled:active:scale-[100%];
}

.btn {
	@apply flex items-center gap-2 rounded-lg px-4 py-2.5 text-sm font-medium transition-all duration-150 active:scale-[95%] disabled:cursor-not-allowed disabled:active:scale-[100%];
}

.btn-green {
	@apply border border-green-600 bg-green-600 bg-gradient-to-b text-white hover:border-green-700 hover:bg-green-700;
}

.btn-red {
	@apply border border-red-600 bg-red-600 bg-gradient-to-b text-white hover:border-red-700 hover:bg-red-700;
}

.btn-default {
	@apply border text-zinc-800 hover:border-zinc-300 hover:bg-zinc-100 dark:border-zinc-900 dark:bg-zinc-500/20 dark:text-zinc-300 dark:hover:text-white;
}

.btn-ghost-green {
	@apply border border-green-600 text-green-600 hover:border-green-700 hover:bg-green-700 hover:text-white dark:border-green-700 dark:bg-green-500/20 dark:text-green-400;
}

.btn-ghost-red {
	@apply border border-red-600 text-red-600 hover:border-red-600 hover:bg-red-600 hover:text-white dark:border-red-700  dark:bg-red-500/20 dark:text-red-400;
}

.btn-ghost {
	@apply border border-transparent text-zinc-800 hover:border hover:border-zinc-800 dark:text-zinc-300  dark:hover:text-white;
}

hr {
	@apply dark:border-zinc-800;
}

.btn-ghost-red {
}

.ph-xxs {
	font-size: 0.5em;
}
.ph-xs {
	font-size: 0.75em;
}
.ph-sm {
	font-size: 0.875em;
}
.ph-lg {
	font-size: 1.3333em;
	line-height: 0.75em;
	vertical-align: -0.0667em;
}
.ph-xl {
	font-size: 1.5em;
	line-height: 0.6666em;
	vertical-align: -0.075em;
}

.form-label {
	@apply mb-1 block text-sm font-medium tracking-wide;
}

.bg {
	background-image: radial-gradient(at 5% 9%, hsla(187, 67%, 69%, 0.2) 0px, transparent 50%),
		radial-gradient(at 13% 96%, hsla(286, 69%, 64%, 0.2) 0px, transparent 50%),
		radial-gradient(at 88% 65%, hsla(289, 80%, 67%, 0.2) 0px, transparent 50%),
		radial-gradient(at 73% 39%, hsla(150, 76%, 72%, 0.2) 0px, transparent 50%),
		radial-gradient(at 10% 58%, hsla(292, 85%, 67%, 0.2) 0px, transparent 50%),
		radial-gradient(at 55% 91%, hsla(28, 73%, 60%, 0.2) 0px, transparent 50%),
		radial-gradient(at 68% 88%, hsla(248, 80%, 65%, 0.2) 0px, transparent 50%);

	background-size: 100% 100vh;
}
