@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
	@apply text-6xl;
}

h2 {
	@apply text-4xl;
}

h3 {
	@apply text-2xl;
}

h4 {
	@apply text-xl;
}

h5 {
	@apply text-lg;
}

h6 {
}

.btn {
	@apply font-normal;
}

.input {
	@apply h-10 text-sm;
}

.ph-xxs {
	font-size: 0.5em;
}
.ph-xs {
	font-size: 0.75em;
}
.ph-sm {
	font-size: 0.875em;
}
.ph-lg {
	font-size: 1.3333em;
	line-height: 0.75em;
	vertical-align: -0.0667em;
}
.ph-xl {
	font-size: 1.5em;
	line-height: 0.6666em;
	vertical-align: -0.075em;
}

.bg {
	background-image: radial-gradient(at 5% 9%, hsla(187, 67%, 69%, 0.2) 0px, transparent 50%),
		radial-gradient(at 13% 96%, hsla(286, 69%, 64%, 0.2) 0px, transparent 50%),
		radial-gradient(at 88% 65%, hsla(289, 80%, 67%, 0.2) 0px, transparent 50%),
		radial-gradient(at 73% 39%, hsla(150, 76%, 72%, 0.2) 0px, transparent 50%),
		radial-gradient(at 10% 58%, hsla(292, 85%, 67%, 0.2) 0px, transparent 50%),
		radial-gradient(at 55% 91%, hsla(28, 73%, 60%, 0.2) 0px, transparent 50%),
		radial-gradient(at 68% 88%, hsla(248, 80%, 65%, 0.2) 0px, transparent 50%);

	background-size: 100% 100vh;
}
