@tailwind base;
@tailwind components;
@tailwind utilities;

input {
	--tw-ring-shadow: 0 0 #000 !important;
}

h1 {
	@apply text-6xl;
}

h2 {
	@apply text-4xl;
}

h3 {
	@apply text-2xl;
}

h4 {
	@apply text-xl;
}

h5 {
	@apply text-lg;
}

h6 {
}

.button {
	@apply mr-2 mb-2 rounded-lg bg-gradient-to-r from-green-400 via-green-500 to-green-600 px-5 py-2.5 text-center text-sm font-medium text-white shadow-lg shadow-green-500/50 hover:bg-gradient-to-br focus:outline-none focus:ring-4 focus:ring-green-300 dark:shadow-lg dark:shadow-green-800/80 dark:focus:ring-green-800;
}

.ph-xxs {
	font-size: 0.5em;
}
.ph-xs {
	font-size: 0.75em;
}
.ph-sm {
	font-size: 0.875em;
}
.ph-lg {
	font-size: 1.3333em;
	line-height: 0.75em;
	vertical-align: -0.0667em;
}
.ph-xl {
	font-size: 1.5em;
	line-height: 0.6666em;
	vertical-align: -0.075em;
}

.input {
	@apply block w-full rounded border border-gray-300 bg-gray-50 py-1 px-2.5 font-mono text-sm text-gray-900 focus:border-green-400 focus:outline-none dark:border-neutral-700 dark:bg-neutral-800 dark:text-white dark:placeholder-neutral-400 dark:focus:border-green-500 dark:focus:ring-green-500;
}
